body,html
{
    margin: 0;
    width: auto;
    height: 100%
}
header
{            
    width: auto;
    height: 100%;
    display: block;
}
div.fondo
{
    background: url(working.png);
    background-size: cover;
    filter: brightness(50%);
    width: auto;
    height: 100%;
}      
div.contenedor
{
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 1;
}
.logo
{
    position: relative;
    margin-left: 7%;
    margin-top: 17px;
}
nav
{ 
    color: antiquewhite;
    font-family: 'open sans';
    font-size: 15px;
    position: relative;
    float: right;
    margin-right: 0; 
}
ul
{
    margin-top: 18px;
}
li
{
    display: inline-block;
    margin: 18px 20px;
}
.idioma
{
    background-color: rgba(14, 95, 170, 0.5);
    margin: 0px 0px 0px 10px;
    padding: 7px 45px 7px 7px;
}
a
{
    color: #ffffff;
    text-decoration: none;
}
.menu a:hover
{
    color: #a6cf24;
    border-top: 5px solid;
    border-color: #a6cf24;
    padding-top: 29px;
}